<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Recruitment task</title>
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>
  </head>
  <body>
    <div id="app">
      <div id="card-app" class="card-container">
        <card data-image="https://images.unsplash.com/photo-1602013104122-6cf742c5d220?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80">
          <h1 slot="header">TO DO</h1>
          <div class="todo" class="card-paragraph" slot="content">
            <ol>
              <template v-for="task in taskList">
                <task-item :task="task">
                  <ol type="a" v-if="task.subtaskList">
                    <template v-for="subtask in task.subtaskList">
                      <task-item :task="subtask"></task-item>
                    </template>
                  </ol>
                </task-item>
              </template>
            </ol>
          </div>
        </card>
      </div>
      <div class="container-main">
        <div class="table-header">
          <h2>Workers</h2>
          <div class="header-buttons-container">
          <button class="btn-download" id="btn-pdf">
            <img
              class="img-download"
              src="https://img.icons8.com/ios-glyphs/30/null/downloading-updates.png"
              alt="download table as pdf."
            ></img>
            <p>PDF</p>
          </button>
          <button class="btn-download" id="btn-csv">
            <img
              class="img-download"
              src="https://img.icons8.com/ios-glyphs/30/null/downloading-updates.png"
              alt="download table as csv."
            ></img>
            <p>CSV</p>
          </button>
          </div>
        </div>
        <div class="table-inputs">
          <!-- input for searching with person name -->
          <div>
          <div class="search-person">
            <p class="label-text">Search for person:</p>
            <div class="input-container">
              <img class="img-search" alt="" src="https://img.icons8.com/ios-glyphs/30/null/search--v1.png">
              <input class="input-search" id="search-filter" type="text" placeholder="Search">
            </div>
          </div>
          <!-- <datalist> input for searching by department -->
          <div class="search-department">
            <p class="label-text">Search by department:</p>
            <div>
              <input list="departments" id="input-departments" class="input-container" placeholder="View all">
              <datalist id="departments" id="#department-filter">
                <option value="View all">
                <option value="IT">
                <option value="Sales">
                <option value="Administration">
              </datalist>
            </div>
            </div>
          </div>
          <!-- input[type="range"] for searching by salary -->
          <!-- https://codingartistweb.com/2021/06/double-range-slider-html-css-javascript/ -->
          <div>
            <p class="label-text label-range">Salary range:</p>
            <div class="wrapper">
              <div class="values">
                  <span id="range1">
                    0$
                  </span>
                  <span> &dash; </span>
                  <span id="range2">
                    20000$
                  </span>
              </div>
              <div class="container">
                  <div class="slider-track"></div>
                  <input type="range" min="0" max="20000" value="0" id="slider-1" oninput="slideOne()">
                  <input type="range" min="0" max="20000" value="20000" id="slider-2" oninput="slideTwo()">
              </div>
            </div>
          </div>
          <div class="vertical-line"></div>
          <!-- form for adding new workers -->
          <div class="add-new-worker-wrapper">
            <div class="add-new-worker-inputs">
              <div class="add-new-worker-data-inputs">
                <div class="form-input">
                  <p class="label-text">First name:</p>
                  <input type="text" class="classic-input" id="fname">
                </div>
                <div class="form-input">
                  <p class="label-text">Last name:</p>
                  <input type="text" class="classic-input" id="lname">
                </div>
                <div class="form-input">
                  <p class="label-text">Department:</p>
                  <div>
                    <input list="departments-form" id="input-departments-form" class="classic-input">
                    <datalist id="departments-form">
                      <option value="IT">
                      <option value="Sales">
                      <option value="Administration">
                    </datalist>
                  </div>
                </div>
                <div class="form-input">
                  <p class="label-text">Salary:</p>
                  <div class="form-salary">
                    <input type="number" class="classic-input-salary" id="salary">
                    <input list="currency-type-input" id="currency-type-input-form" class="classic-input-currency">
                    <!-- content inside currencies datalist is dynamically generated with javascript -->
                    <datalist id="currency-type-input">
                    </datalist>
                  </div>
                </div>
              </div>
            </div>
            <button class="submit-form-button" id="submit-form">Add new worker</button>
          </div>   
              
        </div>
        <div class="table-heading">
          <p>ID</p>
          <p>First Name</p>
          <p>Last Name</p>
          <p>Department</p>
          <p>Salary</p>
        </div>
        <div class="overflow-wrapper">
          <table>
            <tbody>
              <tr v-for="(worker, index) in workerList">
                <td class="table-index">{{index+1}}.</td>
                <td>{{worker.firstName}}</td>
                <td>{{worker.lastName}}</td>
                <td>{{worker.department}}</td>
                <td>{{worker.salary.amount}} {{worker.salary.currency}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="summary-table-cell">
                <td colspan="3"></td>
                <td>Summary</td>
                <td id="summary-cell">21000.5 USD</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!-- -->
    
    <script>
      let table_data = returnObjectFromLocalMemory("workersTableData") || {
        workerList: [
            {
              firstName: "John",
              lastName: "Smith",
              department: "IT",
              salary: { amount: 3000, currency: "USD" },
            },
            {
              firstName: "Jane",
              lastName: "Doe",
              department: "IT",
              salary: { amount: 3000, currency: "USD" },
            },
            {
              firstName: "Bob",
              lastName: "Colman",
              department: "Sales",
              salary: { amount: 9000, currency: "USD" },
            },
            {
              firstName: "Barbara",
              lastName: "O'Connor",
              department: "Sales",
              salary: { amount: 4000, currency: "USD" },
            },
            {
              firstName: "Adam",
              lastName: "Murphy",
              department: "Administration",
              salary: { amount: 2000, currency: "USD" },
            },
          ],
          taskList: [
            {
              title: "Add form to add new worker",
              completed: true,
              subtaskList: [
                { title: "firstName", completed: true },
                { title: "lastName", completed: true },
                { title: "department", completed: true },
                { title: "salary amount and currency", completed: true },
              ],
            },
            {
              title: "Add search form",
              completed: true,
              subtaskList: [
                { title: "person (text)", completed: true },
                { title: "department (multiple choice)", completed: true },
                { title: "salary (range)", completed: true },
              ],
            },
            {
              title: "Add summary of salary per department",
              completed: true,
            },
            {
              title: "Other improvements:",
              completed: true,
              subtaskList: [
                { title: "Added auto conventer for currency", completed: true },
                { title: "Table's data is saved in local memory", completed: true },
                { title: "Table can be downloaded as CSV", completed: false },
                { title: "Table can be downloaded as PDF", completed: false },
              ],
            },
            {
              title: "Please send us this file with your solutions",
              completed: true,
            },
          ],
      };

      const TaskItem = Vue.component("task-item", {
        props: {
          task: Object,
        },
        template:
          '<li>{{task.title}} {{ task.completed ? "✅" : "❌"}}<slot name="default"></slot></li>',
      });

      new Vue({
        el: "#app",
        components: {
          TaskItem,
        },
        data:
          table_data,
        computed: {
          salarySum() {
            return this.workerList.reduce((acc, i) => acc + i.salary.amount, 0);
          },
        },
      });

      // the API that I have connected to before was having some useabillity issues and it
      // didn't work everytime, so I made some basic function that will convert most popular
      // currencies and convert them as of 9.02.2023 [dd.mm format]

      // arrays for currencies names and their exchange rate for USD
      const CURRENCIES = ["AED", "AUD", "BRL", "CAD", "CHF", "CLP", "CNY", "COP", "CZK",
       "DKK", "EUR", "GBP", "HKD", "HUF", "IDR", "ILS", "INR", "JPY", "KRW", "MXN", "MYR",
       "NOK", "NZD", "PHP", "PLN", "RON", "RUB", "SAR", "SEK", "SGD", "THB", "TRY", "TWD",
       "USD"];

      const EXCHANGE_RATE = [0.27229408, 0.6932938, 0.18954594, 0.74291879, 1.083699, 0.0012486089,
       0.1475119, 0.00021112689, 0.045292178, 0.14421215, 1.0733852, 1.2117149, 0.12739159,
       0.0027730738, 0.000066038911, 0.28577525, 0.012111429, 0.0075971862, 0.00079067249,
       0.053221747, 0.23176406, 0.098226395, 0.6323206, 0.018337423, 0.22563395, 0.21946986,
       0.013708322, 0.26666667, 0.096511786, 0.75434537, 0.029756449, 0.053103241, 
       0.033197642, 1];

      function convertCurrency(currency, value){
        for(let i = 0; i < CURRENCIES.length; i++){
          if(currency === CURRENCIES[i]){
            return Number(Number(value * EXCHANGE_RATE[i]).toFixed(0));
          }
        }
      }

      // function that will fill currency datalist input options
      function fillCurrencyDatalist(){
        const datalist = document.querySelector("#currency-type-input");

        CURRENCIES.forEach(currency => {
          let option = document.createElement("option");
          option.innerText = currency;
          datalist.appendChild(option);
        })
      };

      fillCurrencyDatalist();

      function addObjectToLocalMemory(object_name, object_reference){
        window.localStorage.setItem(object_name, JSON.stringify(object_reference));        
      };

      function returnObjectFromLocalMemory(object_name){
        return JSON.parse(window.localStorage.getItem(object_name));
      };

      function addWorker(){
        table_data.workerList.push({
          firstName: document.querySelector("#fname").value,
          lastName: document.querySelector("#lname").value,
          department: document.querySelector("#input-departments-form").value,
          salary: {amount: convertCurrency(document.querySelector("#currency-type-input-form").value, document.querySelector("#salary").value), currency: "USD"},
        });

        function resetInputsValues(){
          document.querySelector("#fname").value = "";
          document.querySelector("#lname").value = "";
          document.querySelector("#salary").value = "";
        }

        resetInputsValues();
        
        // update local memory content
        addObjectToLocalMemory("workersTableData", table_data);

        function updateSallarySum(){
        let sum = 0;
        document.querySelector("tbody").querySelectorAll("tr:not(.hide)").forEach(tr => {
          sum += Number(tr.cells[4].textContent.replace(/\D/g,''));
        });
          document.querySelector("#summary-cell").innerText = sum + " USD";
        }

        setTimeout(updateSallarySum, 1);

      }
      
      // function that will validate inputs for creating new worker
      function validateWorkerInputs(){
        const fnameInput = document.querySelector("#fname");
        const lnameInput = document.querySelector("#lname");
        const departmentInput = document.querySelector("#input-departments-form");
        const salaryInput = document.querySelector("#salary");
        const currencyInput = document.querySelector("#currency-type-input-form");

        // function that resets form inputs styles
        function resetStyles(){
          fnameInput.classList.remove("invalid-input");
          lnameInput.classList.remove("invalid-input");
          departmentInput.classList.remove("invalid-input");
          salaryInput.classList.remove("invalid-input");
          currencyInput.classList.remove("invalid-input");
        }

        resetStyles();

        let currencyValidity = true;
        let departmentValidity = true;
        let emptinessValidity = true;
        let wordsValidity = true;
        let numbersValidity = true;

        // checks if selected currency is available
        function checkCurrencyAvailability(){
          for(let i = 0; i < CURRENCIES.length; i++){
            if(CURRENCIES[i] !== currencyInput.value){
              currencyValidity = false;
              currencyInput.classList.add("invalid-input");
            }else{
              currencyValidity = true;
              currencyInput.classList.remove("invalid-input");
              return;
            }
          }
        }

        checkCurrencyAvailability();

        // checks if selected department is avaible
        const DEPARTMENTS = ["IT", "Sales", "Administration"];

        function checkDepartmentAvailability(){
          for(let i = 0; i < DEPARTMENTS.length; i++){
            if(DEPARTMENTS[i] !== departmentInput.value){
              departmentValidity = false;
              departmentInput.classList.add("invalid-input");
            }else{
              departmentValidity = true;
              departmentInput.classList.remove("invalid-input");
              return;
            }
          }
        }

        checkDepartmentAvailability();

        // checks if the inputs are not empty
        function checkIfEmpty(){
          if(fnameInput.value === ""){
            emptinessValidity = false;
            fnameInput.classList.add("invalid-input");

          }if(lnameInput.value === ""){
            emptinessValidity = false;
            lnameInput.classList.add("invalid-input");

          }if(departmentInput.value === ""){
            emptinessValidity = false;
            departmentInput.classList.add("invalid-input");
            
          }if(salaryInput.value === ""){
            emptinessValidity = false;
            salaryInput.classList.add("invalid-input");
            
          }if(currencyInput.value === ""){
            emptinessValidity = false;
            currencyInput.classList.add("invalid-input");
          }
        };

        checkIfEmpty();

        // checks if fname, lname are only letters, no spaces
        function checkWords(){
          if(fnameInput.value !== ""){
            if(!(/^[A-Za-z]+$/.test(fnameInput.value))){
              fnameInput.classList.add("invalid-input");
              wordsValidity = false;
            }};
          if(lnameInput.value !== ""){
            if(!(/^[A-Za-z]+$/.test(lnameInput.value))){
              lnameInput.classList.add("invalid-input");
              wordsValidity = false;
            }}
        };

        checkWords();

        // checks if salary contains only numbers and no spaces
        function checkNumbers(){
          if(salaryInput.value !== ""){
          if(!(/^[0-9]+$/.test(salaryInput.value))){
            salaryInput.classList.add("invalid-input");
            numbersValidity = false;
          }};
        };

        checkNumbers();

        return (currencyValidity && departmentValidity && emptinessValidity && wordsValidity && numbersValidity);
      }

      // adds events to form submit button, which checks form validity
      const submitButton = document.querySelector("#submit-form");

      submitButton.addEventListener("click", function(){
        if(validateWorkerInputs()){
          addWorker();
        }
      });

    </script>

    <!-- part of the double sided slider input -->
    <script>
    window.onload = function(){
    slideOne();
    slideTwo();
}

    let sliderOne = document.getElementById("slider-1");
    let sliderTwo = document.getElementById("slider-2");
    let displayValOne = document.getElementById("range1");
    let displayValTwo = document.getElementById("range2");
    let minGap = 0;
    let sliderTrack = document.querySelector(".slider-track");
    let sliderMaxValue = document.getElementById("slider-1").max;

    function slideOne(){
        if(parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap){
            sliderOne.value = parseInt(sliderTwo.value) - minGap;
        }
        displayValOne.textContent = sliderOne.value + "$";
        fillColor();
    }

    function slideTwo(){
        if(parseInt(sliderTwo.value) - parseInt(sliderOne.value) <= minGap){
            sliderTwo.value = parseInt(sliderOne.value) + minGap;
        }
        displayValTwo.textContent = sliderTwo.value + "$";
        fillColor();
    }
    
    function fillColor(){
        percent1 = (sliderOne.value / sliderMaxValue) * 100;
        percent2 = (sliderTwo.value / sliderMaxValue) * 100;
        sliderTrack.style.background = `linear-gradient(to right, #dadae5 ${percent1}% , #000000cc ${percent1}% , #000000cc ${percent2}%, #dadae5 ${percent2}%)`;
    } 
    </script>

    <!-- code for TODO parallax card -->
    <script>
    Vue.config.devtools = true;

    Vue.component('card', {
      template: `
        <div class="card-wrap"
          @mousemove="handleMouseMove"
          @mouseenter="handleMouseEnter"
          @mouseleave="handleMouseLeave"
          ref="card">
          <div class="card"
            :style="cardStyle">
            <div class="card-bg" :style="[cardBgTransform, cardBgImage]"></div>
            <div class="card-info">
              <slot name="header"></slot>
              <slot name="content"></slot>
            </div>
          </div>
        </div>`,
      mounted() {
        this.width = this.$refs.card.offsetWidth;
        this.height = this.$refs.card.offsetHeight;
      },
      props: ['dataImage'],
      data: () => ({
        width: 0,
        height: 0,
        mouseX: 0,
        mouseY: 0,
        mouseLeaveDelay: null
      }),
      computed: {
        mousePX() {
          return this.mouseX / this.width;
        },
        mousePY() {
          return this.mouseY / this.height;
        },
        cardStyle() {
          const rX = this.mousePX * 30;
          const rY = this.mousePY * -30;
          return {
            transform: `rotateY(${rX}deg) rotateX(${rY}deg)`
          };
        },
        cardBgTransform() {
          const tX = this.mousePX * -40;
          const tY = this.mousePY * -40;
          return {
            transform: `translateX(${tX}px) translateY(${tY}px)`
          }
        },
        cardBgImage() {
          return {
            backgroundImage: `url(${this.dataImage})`
          }
        }
      },
      methods: {
        handleMouseMove(e) {
          this.mouseX = e.pageX - this.$refs.card.offsetLeft - this.width/2;
          this.mouseY = e.pageY - this.$refs.card.offsetTop - this.height/2;
        },
        handleMouseEnter() {
          clearTimeout(this.mouseLeaveDelay);
        },
        handleMouseLeave() {
          this.mouseLeaveDelay = setTimeout(()=>{
            this.mouseX = 0;
            this.mouseY = 0;
          }, 1000);
        }
      }
    });

    const app = new Vue({
      el: '#card-app'
    });
</script>
<script>
  // function that will filter table based on user's input
  function filterTable(){
    let name = (document.querySelector("#search-filter")).value;
    let department= (document.querySelector("#input-departments")).value;
    let minSalary = (document.querySelector("#slider-1")).value;
    let maxSalary = (document.querySelector("#slider-2")).value;

    const TABLE_BODY = document.querySelector("tbody");

    let sum = 0;

    resetFiltering();

    TABLE_BODY.querySelectorAll("tr").forEach(tr => {
      filterByName(tr, name);
      filterByRange(tr, minSalary, maxSalary);
      filterByDepartment(tr, department);
    });

    changeSum();

    function filterByRange(tr, minSalary, maxSalary){
      if(!(((Number(tr.cells[4].textContent.replace(/\D/g,''))) >= minSalary) && ((Number(tr.cells[4].textContent.replace(/\D/g,''))) <= maxSalary))){
        tr.classList.add("hide");
      }
    }

    function filterByName(tr, name){
      if(name !== ""){
        if(!(name.toLowerCase() == tr.cells[1].textContent.toLowerCase() || name.toLowerCase() == tr.cells[2].textContent.toLowerCase())){
          tr.classList.add("hide");
        }
      }
    }

    function filterByDepartment(tr, department){
      if((department != "") && (department != "View all")){
        if(!(tr.cells[3].textContent == department)){
          tr.classList.add("hide");
        }
      }
    }

    function resetFiltering(){
      TABLE_BODY.querySelectorAll("tr").forEach(tr => {
        tr.classList.remove("hide");
      })
    }
    function changeSum(){
      TABLE_BODY.querySelectorAll("tr:not(.hide)").forEach(tr => {
        sum += Number(tr.cells[4].textContent.replace(/\D/g,''));
      });
      document.querySelector("#summary-cell").innerText = sum + " USD";
    }
  }

  // add filtering events to inputs
  document.querySelector("#search-filter").addEventListener("change", function(){
    filterTable();
  });
  document.querySelector("#input-departments").addEventListener("change", function(){
    filterTable();
  });
  document.querySelector("#slider-1").addEventListener("change", function(){
    filterTable();
  });
  document.querySelector("#slider-2").addEventListener("change", function(){
    filterTable();
  });

  function updateSallarySum(){
  let sum = 0;
  document.querySelector("tbody").querySelectorAll("tr:not(.hide)").forEach(tr => {
    sum += Number(tr.cells[4].textContent.replace(/\D/g,''));
  });
    document.querySelector("#summary-cell").innerText = sum + " USD";
  }

  updateSallarySum();

</script>
<script>
  const PDF_DOWNLOAD_BTN = document.querySelector("#btn-pdf");
  const CSV_DOWNLOAD_BTN = document.querySelector("#btn-csv");

  let workersTable = (JSON.parse(window.localStorage.getItem("workersTableData"))).workerList;

  let objectsContainer = [];
  
  PDF_DOWNLOAD_BTN.addEventListener("click", function(){
    convertTable();

    const csv = jsonToCsv(objectsContainer);

    downloadCSVFile(csv);
    tableToCSV();
  });
  
  CSV_DOWNLOAD_BTN.addEventListener("click", function(){
    convertTable();

    const csv = jsonToCsv(objectsContainer);

    downloadCSVFile(csv);
    tableToCSV();
  });

  // convert table rows to an object
  function convertTable(){
    for(let i = 0; i < workersTable.length; i++){
      objectsContainer.push({
        ID: i+1,
        firstName: workersTable[i].firstName,
        lastName: workersTable[i].lastName,
        department: workersTable[i].department,
        salary: workersTable[i].salary.amount + " USD",
      })
    }
  }
  
  // forked from https://codingbeautydev.com/blog/javascript-convert-json-to-csv/
  function jsonToCsv(items) {
    const header = Object.keys(items[0]);

    const headerString = header.join(',');

    // handle null or undefined values here
    const replacer = (key, value) => value ?? '';

    const rowItems = items.map((row) =>
      header
        .map((fieldName) => JSON.stringify(row[fieldName], replacer))
        .join(',')
    );

    // join header and body, and break into separate lines
    const csv = [headerString, ...rowItems].join('\r\n');

    return csv;
}

  // forked from https://www.geeksforgeeks.org/how-to-export-html-table-to-csv-using-javascript/
        function downloadCSVFile(csv_data) {
 
            // Create CSV file object and feed
            // our csv_data into it
            CSVFile = new Blob([csv_data], {
                type: "text/csv"
            });
 
            // Create to temporary link to initiate
            // download process
            var temp_link = document.createElement('a');
 
            // Download csv file
            temp_link.download = "Workers.csv";
            var url = window.URL.createObjectURL(CSVFile);
            temp_link.href = url;
 
            // This link should not be displayed
            temp_link.style.display = "none";
            document.body.appendChild(temp_link);
 
            // Automatically click the link to
            // trigger download
            temp_link.click();
            document.body.removeChild(temp_link);
        }

        convertTable();
        var doc = new jsPDF();
        doc.setFont("roboto", "bold");
        doc.setFontSize(13);
        objectsContainer.forEach(function(worker, i){
          doc.text(10, 20 + (i * 10),
          "ID: "+ i +
          " First Name: "+ worker.firstName+
          " Last Name: "+ worker.lastName+
          " Department: "+ worker.department+
          " Salary: "+ worker.salary);
        });
        doc.save('Workers.pdf')
</script>
  </body>
</html>
