@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

:root {
  --clr-background: rgb(255, 255, 255);
  --clr-text: rgb(0, 0, 0);
  --clr-border: rgba(0, 0, 0, 0.2);
  /* --clr-fill: rgb(221, 255, 85); */

  --font-main: "Roboto", sans-serif;

  --range-thumb-width: 20px;
  --range-thumb-height: 20px;
  --range-slider-width: 300px;
  --range-slider-height: 5px;
  --range-thumb-color: rgb(0, 0, 0);
  --range-slider-color: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  font-family: var(--font-main);
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-size: 1.2rem;
}

.container-main {
  min-width: 1000px;
  max-width: 1000px;
  min-height: 80vh;
  max-height: fit-content;
  margin: 40px;
  padding: 40px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.table-inputs {
  display: flex;
  border: 2px solid var(--clr-border);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 32px;
}

.header-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.header-buttons-container > .btn-download:first-child {
  margin-right: 24px;
}

.btn-download {
  display: flex;
  align-items: center;
  font-family: var(--font-main);
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: 2px solid var(--clr-border);
  border-radius: 8px;
  background-color: transparent;
}

.btn-download:hover {
  cursor: pointer;
  border: 2px solid var(--clr-text);
}

h2 {
  font-size: 2.6rem;
}

.img-download {
  margin-right: 0.5rem;
}

.to-do {
}

footer {
  position: absolute;
  bottom: 0;
  right: 1rem;
}

#input-departments::placeholder {
  opacity: 1;
}

#input-departments {
  font-size: 1.2rem;
  outline: none;
}

.input-container {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: flex;
  align-items: center;
  height: 2rem;
  border: 2px solid var(--clr-border);
  border-radius: 8px;
  width: 160px;
  padding-left: 15px;
}

.input-container:hover,
.input-container:active,
.wrapper:hover,
.wrapper:active {
  border: 2px solid black;
}

input::-webkit-calendar-picker-indicator {
  opacity: 1;
}

.search-department {
  margin-top: 0.4rem;
}

.img-search {
  margin-left: -5px;
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.input-search {
  border: none;
  margin-left: 5px;
  width: 120px;
  font-size: 1.2rem;
  outline: none;
}

.label-text {
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 2px;
}

.label-range {
  margin-left: 28px;
}

.salary-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.salary-value {
  font-size: 1.4rem;
}

.vertical-line {
  width: 2px;
  background-color: var(--clr-border);
  height: 157px;
  margin-top: -20px;
  margin-bottom: -28px;
  margin-left: 30px;
  margin-right: 20px;
}

.table-heading {
  display: flex;
  align-items: center;
  height: 26px;
  border: 2px solid var(--clr-border);
  border-bottom: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 1rem;
  background-color: var(--clr-text);
  color: var(--clr-background);
}

.table-heading > p:nth-child(1) {
  margin-left: 28px;
}

.table-heading > p:nth-child(2) {
  margin-left: 54px;
}

.table-heading > p:nth-child(3) {
  margin-left: 76px;
}

.table-heading > p:nth-child(4) {
  margin-left: 107px;
}

.table-heading > p:nth-child(5) {
  margin-left: 214px;
}

table {
  border-collapse: collapse;
  border: 2px solid var(--clr-border);
  width: 100%;
  font-size: 1.35rem;
}

td {
  border-top: 2px solid var(--clr-border);
}

tr:nth-child(even) {
  background-color: #ebeaea;
}

.summary-table-cell {
  background-color: var(--clr-border);
}

.table-index {
  padding-left: 25px;
}

.wrapper {
  position: relative;
  width: 300px;
  height: 74px;
  background-color: #ffffff;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  border: 2px solid var(--clr-border);
  margin-left: 25px;
}

.container {
  position: relative;
  width: 100%;
  height: 20px;
  margin-top: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}

input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: black;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  border-radius: 50%;
  background-color: black;
  pointer-events: auto;
}

input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: black;
  pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid black;
}

.values {
  background-color: black;
  width: 56%;
  position: relative;
  margin: auto;
  padding: 5px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 1.2;
  color: #ffffff;
}

.values:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 15px solid black;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: auto;
  bottom: -14px;
  left: 0;
  right: 0;
}
